<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Vyhledávání</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/history">Historie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/rss?read=1">Čtečka RSS</a>
                </li>
            </ul>
            <a href="/rss" class="navbar-nav text-decoration-none me-3"><i class="fa-solid fa-rss"></i></a>
        </div>
    </div>
</nav>